# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tmp vim files
*.swp
*.swo
*.swn
*.swm

# CMake file
build

# Coredump files
core

# Verilog vcd files
*.vcd

# Python files
__pycache__

# Temp makefile
Makefile

# Log files
log
*.bk
*.stash
